* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width:1023px){
    body{
        background: url(img/Bg1.png);
        background-size: cover;
        background-attachment: fixed;

        width: 100vw;
        height: 100vh;

        padding: 10vh 30vw;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .cal{
        background-color: rgba(102, 101, 101,0.54);
        color:rgb(255, 255, 255) ;
        box-shadow: 0 0 10px 5px rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255);

        width: 40vw;
        height: 80vh;

        padding: 20px;

        display:flex;
        flex-direction: column;
        align-items: center;

        border: 5px solid rgb(255, 255, 255);
        border-radius: 30px;
    }

    #screen{
        background-color: rgba(0, 0, 0, 0.4);
        color:rgb(255, 255, 255) ;
        text-shadow: 0 0 10px rgb(255, 255, 255);

        width: 36vw;
        height: 15vh;

        border-radius: 30px;
        margin: 3.5vh 0;

        font-size: 45px;
        text-align: right;
    }

    .button{
        width: 36vw;
        height: 40vh;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .input{
        background-color: rgba(0, 0, 0, 0.4);
        color:rgb(255, 255, 255) ;
        text-shadow: 0 0 10px rgb(255, 255, 255);
        border-radius: 30px;
        margin: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 40px;
    }
}

@media (min-width:320px) and (max-width:1023px){
    body{
        background: url(img/Bg2.png);
        background-size: cover;
        background-attachment: fixed;

        width: 100vw;
        height: 100vh;

        padding: 10vh 10vw;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

    .cal{
        background-color: rgba(102, 101, 101,0.54);
        color:rgb(255, 255, 255) ;
        box-shadow: 0 0 10px 5px rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255);

        width: 80vw;
        height: 80vh;

        padding: 20px;

        display:flex;
        flex-direction: column;
        align-items: center;

        border: 5px solid rgb(255, 255, 255);
        border-radius: 30px;
    }

    #screen{
        background-color: rgba(0, 0, 0, 0.4);
        color:rgb(255, 255, 255) ;
        text-shadow: 0 0 10px rgb(255, 255, 255);

        width: 70vw;
        height: 15vh;

        border-radius: 30px;
        margin: 3.5vh 0;

        font-size: 30px;
        text-align: right;
    }

    .button{
        width: 70vw;
        height: 40vh;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .input{
        background-color: rgba(0, 0, 0, 0.4);
        color:rgb(255, 255, 255) ;
        text-shadow: 0 0 10px rgb(255, 255, 255);

        border-radius: 30px;
        margin: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 20px;
    }
}

.input{
    border: none;
    outline: none;
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อชี้ไปที่ปุ่ม */
}
#screen{
    border: none;
    outline: none;
}

.input:active{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.input:hover{
    animation: shadow 1s infinite;
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
}

.input:nth-child(16) {
    grid-column: span 2; /* ทำให้ปุ่ม "0" กินพื้นที่ 2 ช่อง */
}
@keyframes shadow{
    0%{
        box-shadow: 0 0 10px 2px rgb(255, 255, 255);
    }
    50%{
        box-shadow: 0 0 10px 2px rgb(251, 147, 42);
    }
    100%{
        box-shadow: 0 0 10px 2px rgb(255, 255, 255);
    }
}